<!--about-->
<link rel="stylesheet" href="../static/about.css">
<title>𝐒𝐍𝐀𝐏𝐂𝐀𝐑𝐓</title>

<link rel="icon" href="../static/img/123.png">
<div class="about-section">
    <h1>About Us </h1>
   <p style="font-family: Georgia, 'Times New Roman', Times, serif ; font-size: medium;"> Welcome to SnapCart – your ultimate destination for convenient online grocery shopping! At SnapCart, we've partnered with a wide network of trusted grocery stores to bring you a seamless and hassle-free shopping experience from the comfort of your own home. <br>

  <center><h5 style="font-family: Georgia, 'Times New Roman', Times, serif;">  With SnapCart, you can browse through a diverse range of high-quality products, from fresh produce to pantry staples, and everything in between. Our user-friendly website makes it easy to find exactly what you need, whether you're stocking up on essentials or searching for specialty items. <br></center></h5>
  <P style="font-family: Georgia, 'Times New Roman', Times, serif;">We understand the importance of convenience and reliability when it comes to grocery shopping, which is why we've streamlined our ordering and delivery process to ensure your groceries arrive promptly and in pristine condition. Say goodbye to long queues and heavy bags – with SnapCart, your groceries are just a few clicks away.<br></P> 
    
 <center><p style="font-family: Georgia, 'Times New Roman', Times, serif;"> Join the thousands of satisfied customers who rely on SnapCart for their grocery needs. Shop with us today and experience the convenience of online grocery delivery like never before!</center> <br> </p>
    
    
   </p>    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../static/img/account13.avif" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Guhan Raj</h2>
          <p class="title">Cloud Engineer</p>
          <p>A cloud engineer is a highly skilled professional responsible for designing, developing, and managing cloud-based infrastructure, applications, and 
            services.</p>
          <p> Email:guhanguhan172@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../static/img/account8.avif" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Madhumidha</h2>
          <p class="title">FrontEnd Developer</p>
          <p>A Front-End Developer is responsible for 
            determining the structure and design of web pages,  
            and using a variety of markup languages to create the web pages.</p>
          <p>madhumidha232003@gmail.com</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../static/img/account7.avif" alt="John" style="width:100%">
        <div class="container">
          <h2>Ramyakrishnan</h2>
          <p class="title">Backend Developer</p>
          <p>Backend developer responsibilities include creating,
             testing, and debugging the entire back end of an application or system. This includes the
             databases,and API. </p>
          <p>Email:KRamyakrishnan7@gmail.com</p>
         
         
        </div>
      </div>
    </div>
  </div>
  <center>
  <a href="categories.html"><button class="button">Home</button></a></center>
  
