<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>𝐒𝐍𝐀𝐏𝐂𝐀𝐑𝐓</title>
  <link rel="icon" href="{{ url_for('static', filename='img/123.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
  <header>
   
   
    <div class="nav">

      <a href="#" class="logo">
        <ion-icon name="cart-outline"></ion-icon>
        snapcart
      </a>
      <div class="sprey">
      
        <ul>
          <li><a href="categories.html">Home 🏠|</a></li>
          <li><a href="categories.html">Categories 🔎 |</a></li>
          <li><a href="paymentown.html">Payment💳 |</a></li>
        </ul>
      </div>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
     

     
      

      <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
      </div>

      <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
<!---->
          <div class="cart-box">
            <img src="{{ url_for('static', filename='img/dates.jpg') }}" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Dates</div>
              <div class="price-box">
                <div class="cart-price">Rs.0</div>
                 <div class="cart-amt">Rs.free</div>
             </div>
              <input type="number" value="1" class="cart-quantity" readonly>
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>

          <div class="cart-box">
            <img src="{{ url_for('static', filename='img/mixed dry fruits.jpg') }}" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Dry Fruits</div>
              <div class="price-box">
                <div class="cart-price">Rs.0</div>
                 <div class="cart-amt">Rs.free</div>
             </div>
              <input type="number" value="1" class="cart-quantity" readonly>
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>
     
        </div>
        
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
      </div>

      <button class="btn-buy">Place Order</button>

      <ion-icon name="close" id="cart-close"></ion-icon>

      </div>
    </div>
  </header>
  <div class="container">
  
    <div class="shop-content">


      <div class="food-box">
        <div class="pic">
  <img src="{{ url_for('static', filename='img/cream biscuits.avif') }}" class="food-img">
 </div>
        <h2 class="food-title">Jing Jam </h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="food-box">
        <img src="{{ url_for('static', filename='img/colour cookies.avif') }}" class="food-img">
        <h2 class="food-title">Colour Cookies</h2>
        <span class="food-price">Rs.25</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic">
          <img src="{{ url_for('static', filename='img/jam cookies.avif') }}" class="food-img"></div>

        <h2 class="food-title">Jam Cookies</h2>
        <span class="food-price">Rs.35</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="{{ url_for('static', filename='img/mixed cookies.avif') }}" class="food-img"></div>
        <h2 class="food-title">Mixed Cookies</h2>
        <span class="food-price">Rs.45</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"> <img src="{{ url_for('static', filename='img/orange cookies.avif') }}" class="food-img"></div>
        <h2 class="food-title">Orange Cookies</h2>
        <span class="food-price">Rs.40</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"> <img src="{{ url_for('static', filename='img/delicious-cookies_144627-2156plain biscyits.avif') }}" class="food-img"></div>
        <h2 class="food-title">Delicious Cookies</h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="{{ url_for('static', filename='img/biscuit2.jpg') }}" class="food-img"></div>
        <h2 class="food-title">Plain Biscuits</h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic">
          <img src="{{ url_for('static', filename='img/tea biscuits.avif') }}" class="food-img">
      </div>
        <h2 class="food-title">Tea Biscuits </h2>
        <span class="food-price">Rs.50</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic">
          <img src="{{ url_for('static', filename='img/oreo biscuits.avif') }}" class="food-img">
      </div>
        <h2 class="food-title">Oreo Biscuits  </h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic">
          <img src="{{ url_for('static', filename='img/animal biscuits.avif') }}" class="food-img">
      </div>
        <h2 class="food-title">Animal Biscuits </h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic">
          <img src="{{ url_for('static', filename='img/burger biscuits.avif') }}" class="food-img">
      </div>
        <h2 class="food-title">Burger Biscuits</h2>
        <span class="food-price">Rs.70</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic">
          <img src="{{ url_for('static', filename='img/butter biscuits.avif') }}" class="food-img">
      </div>
        <h2 class="food-title">Butter Biscuits</h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
     
     </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>