<link rel="stylesheet" href="{{ url_for('static', filename='emptypayment.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/123.png') }}">
<title>𝐒𝐧𝐚𝐩𝐜𝐚𝐫𝐭 𝐏𝐚𝐲𝐦𝐞𝐧𝐭-𝐏𝐚𝐠𝐞 </title>
<center>
    <img src="{{ url_for('static', filename='img/payment1.jpg') }}">

<h1>Oops! You Don't Order Anything</h1>
<h3>Before proceed to Payment you must add some products to your shopping cart.<br>
     You will find a lot of interesting products on our "Shop" page.</h3>
     <h3>

        "We currently offer cash on delivery as the sole payment method on our website. <br> However, we are in the process of implementing a UPI payment system, which will be available soon."</h3>
<a href="categories.html"><button class="btn">Explore</button></a></center>