<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>𝐒𝐍𝐀𝐏𝐂𝐀𝐑𝐓</title>
  <link rel="icon" href="../static/img/123.png">
  <link rel="stylesheet" href="../static/style1.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
 
</head>
<body>
  <header>
   
   
    <div class="nav">

      <a href="#" class="logo">
        <ion-icon name="cart-outline"class="grocery-icon"></ion-icon>
        snapcart
      </a>
      <div class="sprey">
        <ul>
          <li><a href="categories.html">Home 🏠|</a></li>
          <li><a href="categories.html">Categories  🔎|</a></li>
          <li><a href="paymentown.html">Payment 💳|</a></li>
        </ul>
    </div>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
   <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
      </div>
      

      <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
<!---->
          <div class="cart-box">
            <img src="../static/img/dates.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Dates</div>
              <div class="price-box">
                 <div class="cart-amt">Rs.free</div>
             </div>
              <input type="number" value="1" class="cart-quantity" readonly>
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>

          <div class="cart-box">
            <img src="../static/img/mixed dry fruits.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Dry Fruits</div>
              <div class="price-box">
                <div class="cart-price">Rs.0</div>
                 <div class="cart-amt">Rs.free</div>
             </div>
              <input type="number" value="1" class="cart-quantity"readonly>
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>
     
        </div>
        
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
      </div>

      <button class="btn-buy"><a href="paymentown.html">Place Order</a></button>
      <ion-icon name="close" id="cart-close"></ion-icon>

      </div>
    </div>
  </header>
  <div class="container">
  
  
 <div class="shop-content">
     


      <div class="food-box">
        <div class="pic">
          <img src="../static/img/onion1.jpg" class="food-img">
        </div>
        <h2 class="food-title">Plain Onion 1kg</h2>
        <span class="food-price">Rs.40</span>
      
         
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="food-box">
        <div class="pic"><img src="../static/img/tomato1.jpg" class="food-img"></div>
        <h2 class="food-title">Tomato 1Kg</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/radish4.jpg" class="food-img"></div>
        <h2 class="food-title">Radish 1Kg</h2>
        <span class="food-price">Rs.80</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/ginger.jpg" class="food-img"></div>
        <h2 class="food-title">Ginger 1Kg</h2>
        <span class="food-price">Rs.55</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/potato.jpg" class="food-img"></div>
        <h2 class="food-title">Potato 1Kg</h2>
        <span class="food-price">Rs.25</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/carrot1.jpg" class="food-img"></div>
        <h2 class="food-title">Carrot 1Kg</h2>
        <span class="food-price">Rs.50</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/cali1.jpg" class="food-img"></div>
        <h2 class="food-title">Cauliflower 1Kg</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/drum1.jpg" class="food-img"></div>
        <h2 class="food-title">Drumstick 5Pieces</h2>
        <span class="food-price">Rs.45</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/apple1.jpg" class="food-img"></div>
        <h2 class="food-title">Apple 1Kg</h2>
        <span class="food-price">Rs.100</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/green apple.jpg" class="food-img"></div>
        <h2 class="food-title">Green Apple 1kg</h2>
        <span class="food-price">Rs.100</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/bana.jpg" class="food-img"></div>
        <h2 class="food-title">Banana 1Kg</h2>
        <span class="food-price">Rs.50</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/orange1.jpg" class="food-img"></div>
        <h2 class="food-title">Orange 1Kg</h2>
        <span class="food-price">Rs.55</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/pine1.jpg" class="food-img"></div>
        <h2 class="food-title"> Pine apple</h2>
        <span class="food-price">Rs.55</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/coco.jpg" class="food-img"></div>
        <h2 class="food-title"> Coconut Full</h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/dragon.jpg" class="food-img"></div>
        <h2 class="food-title"> Dragon Fruit 1Kg</h2>
        <span class="food-price">Rs.81</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/ilaneer.jpg" class="food-img"></div>
        <h2 class="food-title"> Tender Coconut 1Piece</h2>
        <span class="food-price">Rs.90</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/coco2.jpg" class="food-img"></div>
        <h2 class="food-title"> Tender Coconut Small</h2>
        <span class="food-price">Rs.15</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/lemon1.jpg" class="food-img"></div>
        <h2 class="food-title">Lemon 3Pieces</h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/pomo.jpg" class="food-img"></div>
        <h2 class="food-title">Pomegranate Regular 1kg</h2>
        <span class="food-price">Rs.50</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/avacoda1.jpg" class="food-img"></div>
        <h2 class="food-title">Avocado 1Kg</h2>
        <span class="food-price">Rs.60</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/mango2.jpg" class="food-img"></div>
        <h2 class="food-title">Mango 1Kg</h2>
        <span class="food-price">Rs.80</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/goiya1.jpg" class="food-img"></div>
        <h2 class="food-title">Mango 1Kg</h2>
        <span class="food-price">Rs.40</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/papaya1.jpg" class="food-img"></div>
        <h2 class="food-title">Papaya</h2>
        <span class="food-price">Rs.40</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/dates.jpg" class="food-img"></div>
        <h2 class="food-title">Dates 1Kg</h2>
        <span class="food-price">Rs.90</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
  




    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>