<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>𝒘𝒆𝒍𝒄𝒐𝒎𝒆 𝒕𝒐 𝒔𝒏𝒂𝒑𝒄𝒂𝒓𝒕</title>
  <link rel="stylesheet" href="../static/home.css">
  <link rel="icon" href="../static/img/123.png">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

<header>
  <nav>
    <div class="logo">𝐒𝐧𝐚𝐩𝐜𝐚𝐫𝐭 </div>
   
    <ul class="nav-links">
   <button id="lg-btn"><li><a href=login.html>login</a></li></button>
   <button id="sg-btn"><li><a href="register.html">signin</a></li></button>
   </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    
    
  </nav>
</header>

<div class="modifi">

<div class="hero">
  <div id="digital-clock"></div>
  <div class="offer-card">

  </div>
  
  <h1 style="font-family:'Times New Roman', Times, serif;font-size: 65px;">Welcome to Our Snapcart</h1>
  <p style="font-size:20px;">😍💞✌ 𝐘𝐨𝐮𝐫 𝐬𝐚𝐭𝐢𝐬𝐟𝐚𝐜𝐭𝐢𝐨𝐧 𝐢𝐬 𝐨𝐮𝐫 𝐩𝐫𝐢𝐨𝐫𝐢𝐭𝐲. 𝐇𝐚𝐩𝐩𝐲 𝐒𝐡𝐨𝐩𝐩𝐢𝐧𝐠!✌💞🥂</p>

<div class="offer-details">
  <h2>Special Offer</h2>
  <p style="font-size: 20px;">🌟✌ 𝐔𝐧𝐛𝐞𝐚𝐭𝐚𝐛𝐥𝐞 𝐆𝐫𝐨𝐜𝐞𝐫𝐲 𝐃𝐞𝐚𝐥 𝐀𝐥𝐞𝐫𝐭!✌ 🌟</p>
  <p style="font-size: 20px;">🌴 𝗙𝗥𝗘𝗘 𝗗𝗮𝘁𝗲𝘀 𝗮𝗻𝗱 𝗗𝗿𝘆 𝗙𝗿𝘂𝗶𝘁𝘀 𝘄𝗶𝘁𝗵 𝗘𝘃𝗲𝗿𝘆 𝗢𝗿𝗱𝗲𝗿! 🌰</p>
 
  <button class="btn" onclick="reg()"><b>Shop Now</b></button>
</div>
 
</div>
   

</div>
<script>
  function reg(){
    swal.fire({
      title: "WELCOME TO SNAPCART",
  text: "First You Need To Register ,Then Explore The Grocery World.",
  imageUrl: "../static/img/background new.jpg",
  imageWidth: 400,
  imageHeight: 200,
  imageAlt: "Custom image"
    });
  }
</script>


<script src="../static/home.js"></script>
</body>
</html>
