<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>𝐒𝐍𝐀𝐏𝐂𝐀𝐑𝐓</title>
  <link rel="icon" href="../static/img/123.png">
  <link rel="stylesheet" href="../static/style1.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
 
</head>
<body>
  <header>
   
   
    <div class="nav">

      <a href="#" class="logo">
        <ion-icon name="fast-food"></ion-icon>
        snapcart
      </a>
      <div class="sprey">
      
        <ul>
          <li><a href="categories.html">Home 🏠|</a></li>
          <li><a href="categories.html">Categories 🔎|</a></li>
          <li><a href="paymentown.html">Payment 💳|</a></li>
        </ul>
      </div>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
     

     
      

      <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
      </div>

      <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
<!---->
          <div class="cart-box">
            <img src="../static/img/dates.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Dates</div>
              <div class="price-box">
                <div class="cart-price">Rs.0</div>
                 <div class="cart-amt">Rs.free</div>
             </div>
              <input type="number" value="1" class="cart-quantity" readonly>
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>

          <div class="cart-box">
            <img src="../static/img/mixed dry fruits.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-food-title">Dry Fruits</div>
              <div class="price-box">
                <div class="cart-price">Rs.0</div>
                 <div class="cart-amt">Rs.free</div>
             </div>
              <input type="number" value="1" class="cart-quantity" readonly>
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>
     
        </div>
        
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
      </div>

      <button class="btn-buy"><a href="paymentown.html">Place Order</a></button>

      <ion-icon name="close" id="cart-close"></ion-icon>

      </div>
    </div>
  </header>
  <div class="container">
  
    <div class="shop-content">


      <div class="food-box">
        <div class="pic">
          <img src="../static/img/milk3.jpg" class="food-img">
        </div>
        <h2 class="food-title">Normal Milk</h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="food-box">
        <div class="pic"><img src="../static/img/milk1.jpg" class="food-img"></div>
        <h2 class="food-title">Cow Milk 1Litre</h2>
        <span class="food-price">Rs.100</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/milk2.jpg" class="food-img"></div>
        <h2 class="food-title">Gu Milks(1Bottle)</h2>
        <span class="food-price">Rs.29</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/milk3.jpg" class="food-img"></div>
        <h2 class="food-title">Organic Milk</h2>
        <span class="food-price">Rs.80</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/milk4.jpg" class="food-img"></div>
        <h2 class="food-title">Nature Milks</h2>
        <span class="food-price">Rs.140</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/milk1.jpg" class="food-img"></div>
        <h2 class="food-title">Aavin1Litre</h2>
        <span class="food-price">Rs.110</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/milk4.jpg" class="food-img"></div>
        <h2 class="food-title">White milk </h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    
  
  
  
      <div class="food-box">
        <div class="pic"><img src="../static/img/brown3.jpg" class="food-img"></div>
        <h2 class="food-title">Brown Egg</h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/white egg3.jpg" class="food-img"></div>
        <h2 class="food-title">White Egg</h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/mixed egg.jpg" class="food-img"></div>
        <h2 class="food-title">Mixed Egg </h2>
        <span class="food-price">Rs.100</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      
      <div class="food-box">
        <div class="pic"><img src="../static/img/raw eggs1.jpg" class="food-img"></div>
        <h2 class="food-title">RawEggs </h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/boiled egg.jpg" class="food-img"></div>
        <h2 class="food-title">BoiledEgg</h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/yellow egg.jpg" class="food-img"></div>
        <h2 class="food-title">Yellow Egg</h2>
        <span class="food-price">Rs.10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/bakery bread.jpg" class="food-img"></div>
        <h2 class="food-title">Bakery Bread</h2>
        <span class="food-price">Rs.60</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/coco bread.jpg" class="food-img"></div>
        <h2 class="food-title">Coco Bread</h2>
        <span class="food-price">Rs.50</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/masala bread.jpg" class="food-img"></div>
        <h2 class="food-title">Masala Bread</h2>
        <span class="food-price">Rs.70</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/packaged bread.jpg" class="food-img"></div>
        <h2 class="food-title">Packaged Bread</h2>
        <span class="food-price">Rs.30</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
      <div class="food-box">
        <div class="pic"><img src="../static/img/breakfast bread.jpg" class="food-img"></div>
        <h2 class="food-title">Breakfast Bread</h2>
        <span class="food-price">Rs.20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>

    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
